.app.dark{
    --bg-color: darkblue;
    --inverted-bg-color: #f0f0f0;
    --primary-color:lightgray;
    --secondary-color:gray;
    --inverted-primary-color:darkblue;
    --inverted-secondary-color:lightblue;
}