.app.light{
    --bg-color: #f0f0f0;
    --inverted-bg-color: darkblue;

    --primary-color:darkblue;
    --secondary-color:lightblue;
    --inverted-primary-color:lightgray;
    --inverted-secondary-color:gray;
}